@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  /* font-weight: 400; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Cardo';
  src: url('./assets/Cardo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cardo';
  src: url('./assets/Cardo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Transitions for image slide and detail box appearance */
.transition-all {
  transition: all 0.5s;
}

.snipcart-modal,
.snipcart-modal__container,
.snipcart-cart__content,
#snipcart {
  z-index: 100 !important;
}

.snipcart,
.snipcart-modal,
.snipcart-cart {
  --color-background: #dbddd6;
  --color-default: #6d6e6b; /* moss-800 */
  --color-alt: #dbddd6; /* moss-300 */
  --color-icon: #6d6e6b; /* moss-800 */
  --color-success: #6d6e6b; /* moss-800 */
  --color-error: #b33a3a; /* Keep red for errors */

  /* Button colors */
  --color-button-primary: #6d6e6b; /* moss-800 */
  --color-button-primary-hover: #838480; /* moss-700 */
  --color-button-secondary: #f9f7f3;
  --color-button-secondary-hover: #e6e2d9;

  /* Keep other settings */
  --color-input: #ffffff;
  --color-input-focus: #ffffff;
  --color-input-error: #ffecef;
  --color-input-disabled: #f5f5f5;

  --border-radius-modal: 0;
  --border-radius-box: 0;
  --border-radius-input: 0;
  --border-radius-button: 0;

  --font-family: 'Mohave', 'Cardo', sans-serif;
}

/* Add these selectors to target the main background */
.snipcart-modal,
.snipcart-modal__container,
.snipcart-cart,
.snipcart-cart__content,
.snipcart-cart-header__close-button,
.snipcart-modal__header {
  background-color: #dbddd6 !important; /* moss-300 from your config */
}

.snipcart-cart-header {
  background-color: var(--color-background) !important;
}

.snipcart-cart__footer {
  background-color: var(--color-background) !important;
}

.snipcart-cart-button--highlight {
  background-color: var(--color-button-primary) !important;
}

.snipcart-item-line {
  background-color: #e9ebe5 !important; /* slightly lighter than moss-300 */
}

.snipcart-item-quantity__quantity {
  color: var(--color-default);
}

.snipcart-item-quantity__quantity,
.snipcart-item-quantity input,
.snipcart-item-quantity__quantity.snipcart__font--std {
  opacity: 1 !important;
  visibility: visible !important;
  color: #6d6e6b !important;
}

.snipcart-empty-cart__title {
  color: #6d6e6b !important;
}
